*, ::before, ::after{
    width: 99%;
    box-sizing: border-box;
    margin: auto;
    padding: 5px;
    font-family: "Relief";
    font-size: large;
    color: #33402B;
}

header, main, footer{
    padding: 0;
    border: solid #33402b;
    text-align: center;
}
    
header{
    background-color:#33402B ;
    color: #F2C46D;
}

main{
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #33402b;
    color: #F2C46D;
}